body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    background-color:transparent;
}
nav.black{
    background:#f0fcd2;
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;

}
nav.black .logo img{
    height: 60px;
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    line-height:80px;
    color: #262626;
    padding: 5px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    color:#fff ;
    background: #f00;
}
section.sec1{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("img1.jpg");
}

.box{
    width: 260px;
    height: 280px;
    text-align: center;
    padding-left: .7%; 
    padding-top: 2%;
    display: inline-block;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
    margin: 6%;
    color: rgb(18, 70, 129);
    border: 2px;
    
}
section.sec2{
    width: 100%;
}
h1{
    font-family: 'Racing Sans One', cursive;
    color: gold;
    font-size: 50px;
    margin-top: 30px;
}
h2{
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 100px;
}
.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(38, 157, 255);
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
  }
  .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100px;
    background: rgb(38, 157, 255);
  }
  .title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border: 3px solid white;
    border-radius: 50%;
    background: rgb(38, 157, 255);
  }
  .title span {
    color: rgb(67, 67, 182);
  }

.btm td{
    margin-left: 50px;
}
  
  